* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 15 px;
}

.App {
    width: 1200px;
}

/* .clientContainer {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
} */

.clientsTableHeading {
    background: khaki;
}

.navbarContainer{
    background-color:khaki;
    margin-bottom: 30px;
    text-align: center;
  }